---
permalink: 404.html
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Page not found.">
    <title>Bootstrap 5 React Elements | 404</title>
  </head>
  <body>
    <p>404 error, page not found. <a href="{{ '/' | url }}">Return to home page.</a></p>
  </body>
</html>