---
title: Tooltip Demo
description: React element bootstrap tooltip demo.
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap 5 React Elements | Demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  </head>
  <body>
    <div class="p-5 text-center" id="example-tooltip"></div>

    <!-- include react and react dom -->
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

    <!-- include bootstrap js (this is the bundle version, which includes all its peer dependencies) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- include the umd build of bootstrap 5 react elements (this library) -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bs5-react-elements@1.0.0/dist/bs5-react-elements.min.js" crossorigin></script> -->
    <script src="../assets/dist/bs5-react-elements.js" crossorigin></script>

    <script>
      'use strict';

      function Counter(props) {
        const [count, setCounter] = React.useState(0);

        React.useEffect(function() {
          const interval = setInterval(function() {
            setCounter(counter => counter + 1);
          }, 1000);
          return function() {
            clearInterval(interval);
          }
        }, []);

        props.component.update();

        return React.createElement(
          'span',
          {},
          'Shown for ',
          React.createElement('strong', {}, count, count === 1 ? ' second' : ' seconds')
        );
      }

      function ExampleUsage(props) {
        const onShownHandler = React.useCallback(function() {
          console.log("The tooltip has been shown.");
        }, []);

        return React.createElement(
          BS5ReactElements.Tooltip,
          {
            'data-bs-toggle': 'tooltip',
            tabIndex: 0,
            renderTitle: function(component) {
              return React.createElement(Counter, {component});
            },
            onShown: onShownHandler
          },
          'Lorem ipsum'
        );
      }

      ReactDOM.render(
        React.createElement(ExampleUsage),
        document.querySelector('#example-tooltip')
      );
    </script>
  </body>
</html>

