---
pagination:
  data: elements
  resolve: values
  size: 1
  alias: element
permalink: "element/{{ element.displayName | slug }}/"
layout: default.njk
renderData:
  title: Bootstrap 5 React Elements | {{ element.displayName }}
  description: Details - {{ element.description }}
---

<h1>{{ element.displayName }}</h1>

<p>{{ element.description | safe }}</p>

<h2>Example Usage</h2>

{% include element.displayName | exampleusage %}

<h2>Demos</h2>

{% if collections[element.displayName] | length > 0 %}
  <p>The demos below show this component in action. You can view the source code of each demo to see how they work.</p>
  <ul>
    {% for demo in collections[element.displayName] %}
      <li><a href="{{demo.url | url}}">{{demo.data.title}}</a></li>
    {% endfor %}
  </ul>
{% else %}
  <p class="text-muted">
    There are no demos available for this component.
    Submit an <a href="https://github.com/RyanBerliner/bs5-react-elements/issues">issue</a> or <a href="https://github.com/RyanBerliner/bs5-react-elements/pulls">pull request</a> on GitHub to add one.
  </p>
{% endif %}

<h2>Props</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Type</th>
      <th>Default Value</th>
      <th>Since</th>
    </tr>
    </head>
  <tbody>
    {% for name, details in element.props %}
    <tr>
      <td>{{ name }}</td>
      <td>{{ details.description | propdescription }}</td>
      <td>
        {% if details.type.name == 'union' %}
        {% if details.type.value[0].name == 'func' and details.type.value[1].value.current.name == 'any' %}
        React ref
        {% else %}
        union (see source code)
        {% endif %}
        {% else %}
        {{ details.type.name }}
        {% endif %}
      </td>
      <td>{{ details.defaultValue.value }}</td>
      <td>{{ details.description | propsince }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>