---
layout: default.njk
title: Get Started
description: React elements that use, not replace, Bootstrap 5 javascript.
---

<h1>Getting Started</h1>

<p>React elements that <em>use, not replace,</em> Bootstrap 5 javascript. They expose Bootstrap's existing events and api in a convenient, predictable, and flexible way to your React project.</p>

<p>
<strong>This is not a React re-write of Bootstrap javascript.</strong> Because of this, there isn't much to learn! If you use Bootstrap, you know almost everything there is to know about this library.
When it comes to customizing your Bootstrap components look or behavior, refer to the <a href="https://getbootstrap.com/">official Bootstrap documentation.</a>
</p>

<h2>Installing</h2>

<p>Use your package manager to install into your React project.</p>

<pre><code>npm i bs5-react-elements</code></pre>

<p><strong>Important!</strong> Bootstrap, and any of its dependencies are NOT bundled with this library. You will need to install Bootstrap and its dependencies yourself.</p>

<p>Not using a bundler? See the other <a href="{{ '/installation-options/'| url }}">installation options</a> to begin using this library.</p>

<h2>Example Usage</h2>

<p>This is a tooltip that will listen for Bootstrap <code>shown.bs.tooltip</code> event and console log a message.</p>

<pre><code>import React, {useCallback} from &quot;react&quot;;
import {Tooltip} from &quot;bs5-react-elements&quot;;

function ExampleUsage() {
  const onShownHandler = useCallback(() => {
    console.log(&quot;The tooltip has been shown.&quot;);
  }, []);

  return &lt;Tooltip
    title=&quot;Lorem ipsum dolor.&quot;
    data-bs-toggle=&quot;tooltip&quot;
    onShown={onShownHandler}
  &gt;
    Lorem ipsum
  &lt;/Tooltip&gt;
}</code>

</pre>

<iframe src="{{ '/demos/tooltip-console-log/' | url }}" class="demo-iframe" title="Bootstrap tooltip demo"></iframe>

<p>This is just an example, for more information, be sure to browse all the elements offered in this library for supported props, or learn about common props like <a href="{{ '/event-props/' | url }}">event props</a>, <a href="{{ '/component-prop/' | url }}">the <code>component</code> prop</a>, or , <a href="{{ '/config-prop/' | url }}">the <code>config</code> prop.</a></p>