<pre><code>import React from &quot;react&quot;;
import {Carousel} from &quot;bs5-react-elements&quot;;

function ExampleUsage() {
  return &lt;Carousel
    id=&quot;example-usage&quot;
    className=&quot;carousel slide&quot;
    data-bs-ride=&quot;carousel&quot;
  &gt;
    &lt;div className=&quot;carousel-inner&quot;&gt;
      &lt;div className=&quot;carousel-item active&quot;&gt;
        Lorem ipsum 1
      &lt;/div&gt;
      &lt;div className=&quot;carousel-item&quot;&gt;
        Lorem ipsum 2
      &lt;/div&gt;
      &lt;div className=&quot;carousel-item&quot;&gt;
        Lorem ipsum 3
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/Carousel&gt;;
}</code></pre>