<pre><code>import React from &quot;react&quot;;
import {Collapse} from &quot;bs5-react-elements&quot;;

function ExampleUsage() {
  return &lt;&gt;
    &lt;button
      data-bs-toggle=&quot;collapse&quot;
      data-bs-target=&quot;#example-usage&quot;
      aria-expanded=&quot;false&quot;
      aria-controls=&quot;example-usage&quot;
    &gt;
      Toggle
    &lt;/button&gt;
    &lt;Collapse id=&quot;example-usage&quot; className=&quot;collapse&quot;&gt;
      Lorem ipsum dolor.
    &lt;/Collapse&gt;
  &lt;/&gt;;
}</code></pre>

<p><strong>Important!</strong> If you wish to configure your collapse, you must use the <code>config</code> prop, as data attributes are not supported at the time of this writing. <a href="">Tracking Bootstrap issue #34408.</a></p>