<pre><code>import React from &quot;react&quot;;
import {Modal} from &quot;bs5-react-elements&quot;;

function ExampleUsage() {
  return &lt;&gt;
    &lt;button data-bs-toggle=&quot;modal&quot; data-bs-target=&quot;#example-usage&quot;&gt;
      Launch
    &lt;/button&gt;
    &lt;Modal
      className=&quot;modal fade&quot;
      id=&quot;example-usage&quot;
      tabIndex=&quot;-1&quot;
      aria-hidden=&quot;true&quot;
    &gt;
      &lt;div className=&quot;modal-dialog&quot;&gt;
        &lt;div className=&quot;modal-content&quot;&gt;
          Lorem ipsum dolor.
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/Modal&gt;
  &lt;/&gt;;
}</code></pre>