<pre><code>import React from &quot;react&quot;;
import {Offcanvas} from &quot;bs5-react-elements&quot;;

function ExampleUsage() {
  return &lt;&gt;
    &lt;button data-bs-toggle=&quot;offcanvas&quot; data-bs-target=&quot;#example-usage&quot;&gt;
      Launch
    &lt;/button&gt;
    &lt;Offcanvas
      className=&quot;offcanvas offcanvas-start&quot;
      id=&quot;example-usage&quot;
      tabIndex=&quot;-1&quot;
      aria-hidden=&quot;true&quot;
    &gt;
      &lt;div className=&quot;offcanvas-body&quot;&gt;
        Lorem ipsum.
      &lt;/div&gt;
    &lt;/Offcanvas&gt;
  &lt;/&gt;;
}</code></pre>