<pre><code>import React from &quot;react&quot;;
import {Popover} from &quot;bs5-react-elements&quot;;

function ExampleUsage() {
  return &lt;Popover
    title=&quot;Lorem ipsum&quot;
    data-bs-content=&quot;Lorem ipsum dolor.&quot;
    data-bs-toggle=&quot;popover&quot;
  &gt;
    Lorem ipsum
  &lt;/Popover&gt;
}</code></pre>

<p><strong>Important!</strong> If you choose to pass a user defined component to the <code>as</code> prop,
it must support <a href="https://reactjs.org/docs/forwarding-refs.html">ref forwarding.</a></p>