<pre><code>import React from &quot;react&quot;;
import {Toast} from &quot;bs5-react-elements&quot;;

function ExampleUsage() {
  return &lt;Toast className=&quot;toast&quot; role=&quot;alert&quot;&gt;
    &lt;div className=&quot;toast-body&quot;&gt;
      Lorem ipsum dolor.
    &lt;/div&gt;
  &lt;/Toast&gt;;
}</code></pre>