<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if renderData.description %}{{ renderData.description | safe }}{% elif description %}{{ description | safe }}{% endif %}">
    <title>{% if renderData.title %}{{ renderData.title | safe }}{% elif title %}Bootstrap 5 React Elements | {{ title | safe }}{% endif %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <header class="col my-5" style="max-width: 20rem;">
          <a href="#content" class="visually-hidden-focusable position-absolute m-2 btn btn-primary">Skip to content</a>
          <h1 class="h5 fw-bold">Bootstrap 5 React Elements</h1>
          <p>
            <a href="https://www.npmjs.com/package/bs5-react-elements"><img alt="View on npmjs.com" src="https://img.shields.io/npm/v/bs5-react-elements" /></a>
          </p>
          <p>
            <a href="https://github.com/RyanBerliner/bs5-react-elements">View on GitHub</a>
          </p>
          <nav>
            <h2>Introduction</h2>
            <ul>
              <li><a href="{{ '/' | url }}">Getting Started</a></li>
              <li><a href="{{ '/installation-options/' | url }}">Installation Options</a></li>
              <li><a href="{{ '/event-props/' | url }}">Event props</a></li>
              <li><a href="{{ '/component-prop/' | url }}">The <code>component</code> prop</a></li>
              <li><a href="{{ '/config-prop/' | url }}">The <code>config</code> prop</a></li>
            </ul>
            <h2>All Elements</h2>
            <ul>
              {% for file, element in elements %}
                <li>
                  <a href="{{ '/element/' | url }}{{ element.displayName | slug }}/">
                    {{ element.displayName }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        </header>
        <main class="col my-5" id="content">
          {{ content | safe }}
        </main>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </body>
</html>