---
layout: demo.njk
title: Tooltip Render Title Demo
description: React element bootstrap tooltip demo.
tags: Tooltip
---

<div class="p-5 text-center" id="example-tooltip"></div>

<script>
  'use strict';

  function Counter(props) {
    const [count, setCounter] = React.useState(0);

    React.useEffect(function() {
      const interval = setInterval(function() {
        setCounter(counter => counter + 1);
      }, 1000);
      return function() {
        clearInterval(interval);
      }
    }, []);

    props.component.update();

    return React.createElement(
      'span',
      {},
      'Shown for ',
      React.createElement('strong', {}, count, count === 1 ? ' second' : ' seconds')
    );
  }

  function ExampleUsage(props) {
    return React.createElement(
      BS5ReactElements.Tooltip,
      {
        'data-bs-toggle': 'tooltip',
        tabIndex: 0,
        renderTitle: function(component) {
          return React.createElement(Counter, {component});
        }
      },
      'Lorem ipsum'
    );
  }

  ReactDOM.render(
    React.createElement(ExampleUsage),
    document.querySelector('#example-tooltip')
  );
</script>
